html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

header, main, footer {
    padding: 2px;
}

main {
    flex: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-container .header-left-side {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer-container .right {
    margin-left: auto;
}

.main-container {
    display: inline-block;
    height: 60vh;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.main-container-inner {
    display: flex;
    height: 100%;
}

.main-container .main-left-side{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
}

.main-container .main-right-side{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 25px;
}

.search-params{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

p{
    margin: 9px 0;
}


